
html, body {
  margin: 0px;
  padding: 0px;
}

a:active, a:hover, a:visited {
  color: #000000;
} 

 

#mainWrapper {

float: left;
width: 100%;
margin: 0px;
padding: 0px;
}

 

.mainContainer {
width: 90%;
margin: 0 auto;
}

 

#navContainer {
float: left;
width: 100%;
margin-top: 20px;
margin-bottom: 20px;
}


.logoContainer {
float: left;
width: 50%;
text-align: left;
font-size: medium;
font-family:Poppins;
margin-top:20px; 
}

.logoContainer a {
  text-decoration: none;
  } 

.navContainer  {
float: right;
width: 50%;
text-align: right;
margin-left: 0%;

}

 

.navWrapper {
float: right;
width: 100px;
text-align: left;
padding: 5px;
padding-right: 0px;
font-size: 16px;
margin-top: 20px;

}

 

.navLink {
  float: right;
  width: 80px;

  font-family:Poppins;

 

}

 

.navLink a {

  float: right;

  color: #000;

 

  text-decoration: none;

 

}

 

.navSeparator {

 

  float: left;

 

  width: 20px;

 

  text-align: center;

 

}

 

.mainbody {

 

  float: left;

 

  width: 100%;

 

}

 

.topIntro {

 

    float: left;

 

    width: 100%;

 

    font-size: 55px;

 

  padding-top: 130px;

  padding-bottom: 200px;

 

 

  font-family:Poppins;

  border: 1px solid;

 

}

 

#greenContainer {

 

  float: left;

 

  width: 100%;

 

  margin-top: 30px;

 

  padding-top: 100px;

 

  padding-bottom: 50px;

 

}

 

.greenColumn {

  float: left;
  width: 23%;;
  margin-right: 2%;
  min-height: 410px;
  background-color: #886b6d;

}

.topBorderWrapper {

 

  float: left;

 

  width: 100%;

 

}

 

.topBorder {

 

  float: left;

 

  width: 50px;

 

  height: 10px;

 

  background-color: #1d0002;

 

}

 

.greenHeader {

 

  float: left;
  width: 100%;

 

  font-size: 25px;

  color: #1e0105;
  padding-top: 20px;
  padding-bottom:40px;

 

  font-weight: bold;

  font-family: Poppins;

  

 

}

 

.greenContent {

  float: left;

  width: 100%;

  padding-top: 15px;

  font-size: 16px;

  font-family: Poppins;

 

}

.fieldWrapper {

 float: left;

 width: 100%;

}

.selectWrapper {
float: left;
width: 100%;
margin-left: 0%;
margin-top:20px;
}

.firstContainer {
float: left;
 width: 100%;

}

.secondContainer {
float: left;
width: 100%;
margin-top: 30px;

}

.NameContent {
float: left;
width: 100%;
margin-right: 0%;
}

.EmailContent {
float: left;
width: 100%;
padding-top:25px;
}

.messageContent { 
float: left;
width: 100%;

}

.labelText, .checkText {
float: left;
width: 100%;

}

.checkText {
margin-bottom: 5px;
}

.contact_field {
background-color: #ccc;
border:0px;
border-radius: 8px;
width: 100%;
height: 40px;
padding: 5px;
max-width:351px;

}

.contact_textarea {
background-color: #ccc;
border-radius: 8px;
width: 100%;
min-height: 180px;
padding: 5px;


}

.contact_check {
background-color: #ccc;
width: 20px;
height: 20px;

}

#contact_submit {
color: #fff;
padding: 10px;
padding-left: 50px;
padding-right: 50px;
font-size: 18px;           
background-color: #000;
border-radius: 8px;
margin-top: 10px;

}

.topFooter {
  float: left;
  width: 100%;
  margin-top: 200px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
  font-family:Poppins;
  background-color: #ccc;
  padding-top: 60px;
  padding-bottom: 60px;
}


/* responsive design tags starts here*/
@media screen and (max-width: 600px){

  .navfooter{
    display:block;
    float:left;
    text-align:center;
  
  }
  
  .footerlogo{
    width:100%;
    text-align:center;
    margin-bottom:20px;
   
  
  
  }
  
  .footercontainer{
    width:100%;
  }
  
  .navfooter{
    width:33%;
  }
  .navLink{
    float:none;
  }
  
  
  }
  
  
  /* responsive design tags ends here*/
  
  



/*hamburger menu starts here*/
.hambuger-popover {
	display: none;
  font-family: poppins;
  font-size: 18px;
}
@media screen and (max-width: 600px) {
	.navWrapper {
		display: none;
	}
	.hambuger-popover {
		display: block;
	}
}
.popover-btn {
	margin:20px 0 0 0;
	cursor:pointer;
  
}
.popover-nav-block {
	 min-width:100%;
	 width:100%;
	 left: 0;
	 background: #fff;
	 border-radius: 3px;
	 line-height: 1.46667;
	 padding:0 17px;
	 margin-top: 10px;
	 list-style:none;
	 display: none;
	 z-index:99;
   position:absolute;
 }
.popover-nav-block  li {
  padding-bottom: 5px; 
}
.hide-block {
  display:block !important;
}

.popover-link {
text-decoration:none; 

}


/*hamburger menu ends here*/