a:active, a:hover, a:visited {
  color: #000000;
}

.logoContainer a {
  text-decoration: none;
  }


 html, body {
margin: 0px;
padding: 0px;
}
    
    a:active, a:hover, a:visited {
      color: #000000;
    }
    
    #mainWrapper {
      float: left;
      width: 100%;
      margin: 0px;
      padding: 0px;
    }
    
    
    .mainContainer {
      width: 90%;
      margin: 0 auto;
    }
    
    
    #navContainer {
      float: left;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
     
    .logoContainer {
      float: left;
      width: 50%;
      text-align: left;
      font-size: medium;
      font-family:Poppins;
      margin-top: 20px;
    }
    
     
    .logoContainer a {
      text-decoration: none;
      }
    
    
    .navContainer  {
      float: right;
      width: 50%;
      text-align: right;
      margin-left: 0%;
      margin-top: 20px;
    }
    
     
    .navWrapper {
      float: right;
     width: 100px;
      text-align: left;
      padding: 5px;
      padding-right: 0px;
      padding-left: 0px;
      font-size: 16px
    }
    
     
    
    .navLink {
    
      float: right;
      width: 80px;
      font-family:Poppins;
    }
    
     
    
    .navLink a {
      float: right;
      color: #000;
      text-decoration: none;
    }
    
     
    
    .navSeparator {
      float: left;
      width: 20px;
      text-align: center;
    }
    
    #pageLogoContainer {
    
      float: left;
    
      width: 50%;
    
      margin-top: 20px;
    
    }
    
    #pagelogoContent {
    
        float: left;
    
        width: 50%;
    
    }
    
    #pagelogoRightSpace {
    
        float: left;
    
        width: 50%;
    
    }
    
    #pageLogoWrapper {
    
        float: left;
    
        width: 70%;
    
      margin-left: 5%;
    
    }
    
    #pageLogoImage {
    
    float: left;
    width: 20%;
    padding-top: 10px;}
    
     #pageWrapper {
    
    margin-top: 20px;
                  
     }
                  
    #pageLogoImage img {
                  
    max-width: 100%;
                  }
    
    .mainbody {
      float: left;
      width: 100%;
    }
    
    .overviewContainer {
    
      float: left;
      width: 100%;
      margin-top: 15px;
      margin-right: 45;
      margin-left: 0px;
    
    }
    
    .greenHeaderLogo {
    
      float: left;
    
      width: 100%;
    
      font-size: 35px;
    
      color: #000;
    
      padding-top: 0px;
    
      font-weight: bold;
    
      font-family: Poppins;
    
    }
    
    .greensubHeader {
    
      float: left;
      width: 100%;
      font-size: 16px;
      color: #000;
      padding-top: 5px;
      font-weight: bold;
      font-family: Poppins;
    
    }
     
    
    .leftColumn {
    
      float: left;
      width: 50%;
      padding-top: 18px;
      margin-left: 0%;
    
    }
    
    .leftColumn img {
    
      max-width: 100%;
    
    }
    
    .spaceColumn {
    
      float: left;
      width: 10%;
    
    }
    
    .rightColumn {
    
      float: left;
      width: 40%;
      margin-right: 0%;
      
    
    
    }
    
    .topBorderWrapper {
    
      float: left;
      width: 100%;
    
    }
    
     
    
    .topBorder {
    
      float: left;
      width: 50px;
      height: 10px;
      background-color: #1d0002;
    
    }
    
    .greenHeader {
    
      float: left;
      width: 100%;
      font-size: 55px;
      color: #000;
      padding-top: 20px;
      font-weight: bold;
      font-family: Poppins;
      line-height: 50px; 
    
    }
    
     
    
    .greenContent {
    
      float: left;
      width: 100%;
      padding-top: 15px;
      font-size: 18px;
      font-family: Poppins;
      font-weight: 200;
    
    }
    
     
    .topFooter {
      float: left;
      width: 100%;
      margin-top: 200px;
      margin-bottom: 30px;
      text-align: center;
      font-size: 35px;
      font-family:Poppins;
      background-color: #ccc;
      padding-top: 60px;
      padding-bottom: 60px;
    }


/* responsive design tags starts here*/
@media screen and (max-width: 600px){
  .overviewContainer{
    width: 100%;
  }
  .leftColumn{
    width:100%
  }
  .spaceColumn{
    display: none;
  }
  .rightColumn{
    width: 100%;
  }
  .topBorderWrapper{
    margin-top: 25px;
  }
  .greenHeader{
    font-size: 25px;
  }
  
  #pageLogoContainer{
    width:100%;
  }

  #pageLogoWrapper{
    width:75%
  }
.greenHeaderLogo{
  font-size:25px;

}

  #pageLogoImage{
    padding-top: 0px;
  }
  
  .navfooter{
    display:block;
    float:left;
    text-align:center;
  
  }
  
  .footerlogo{
    width:100%;
    text-align:center;
   
  
  
  }
  
  .footercontainer{
    width:100%;
  }
  
  .navfooter{
    width:33%;
  }
  .navLink{
    float:none;
  }
  
  
  }
  
  
  /* responsive design tags ends here*/
  
  
  
  
/*hamburger menu starts here*/
.hambuger-popover {
	display: none;
  font-family: poppins;
  font-size: 18px;
}
@media screen and (max-width: 600px) {
	.navWrapper {
		display: none;
	}
	.hambuger-popover {
		display: block;
	}
}
.popover-btn {
	margin:0px 0 0 0;
	cursor:pointer;
  
}
.popover-nav-block {
	 min-width:100%;
	 width:100%;
	 right: 0;
	 border-radius: 3px;
	 line-height: 1.46667;
	 padding:0 17px;
	 margin-top: 10px;
	 list-style:none;
	 display: none;
	 z-index:99;
   position:absolute;
 }
.popover-nav-block  li {
  padding-bottom: 5px; 
}
.hide-block {
  display:block !important;
}

.popover-link {
text-decoration:none; 

}


/*hamburger menu ends here*/