
html, body {

  margin: 0px;

  padding: 0px;

}



a:active, a:hover, a:visited {
  color: #000000;
}



#mainWrapper {

  float: left;

  width: 100%;

  margin: 0px;

  padding: 0px;

}

.mainContainer {

  width: 90%;

  margin: 0 auto;

}

#navContainer {

  float: left;

  width: 100%;

  margin-top: 20px;

  margin-bottom: 20px;
  
}

.logoContainer {

  float: left;
  width: 50%;
  text-align: left;
  font-size: medium;
  font-family:Poppins;
  margin-top: 20px; 

}

.logoContainer a {
  text-decoration: none;
  }

.navContainer  {

  float: right;

  width: 50%;

  text-align: right;

  margin-left: 0%;

}

.navWrapper {

  float: right;
  width: 80px;
  text-align: left;
  padding: 0px;
  font-size: 16px;
  margin-top: 20px;
}

.navLink {

  float: left;
  width: 70px;
  font-family:Poppins;
 
  
}

.navLink a {

  color: #000;

  text-decoration: none;
 
}

.mainbody {
  float: left;
  width: 100%;
}

#autotype-me
{
  font-size: 2.5em;
  text-align: center;
  margin-top: 220px;
  font-family: Poppins;
}

#autotype-me::after{
  content: '|';
  animation: blink 0.5s linear infinite alternate;
  opacity: 0;
}

@keyframes blink{
  100%{
    opacity: 1;
  }
}



#greenContainer {

  float: left;

  width: 100%;

  margin-top: 30px;

  padding-top: 100px;

  padding-bottom: 50px;

}

.greenColumn {

  float: left;

  width: 23%;;

  margin-right: 2%;

  min-height: 410px;
  max-width: 410px;

  background-color: #ffffff;
 

}

img {

    width: 100%;

}

.greenColumnLast {

   margin-right: 0px;

   width: 25%;

  background: none;

}

.topBorderWrapper {

  float: left;

  width: 100%;

}

.topBorder {

  float: left;

  width: 50px;

  height: 10px;

  background-color: #1d0002;

}

.greenHeader {

  float: left;

  width: 100%;

  font-size: 50px;

  color: #1e0105;

  padding-top: 20px;

  font-weight: bold;
  font-family: Poppins; 
  

}

.greenContent {

  float: left;

  width: 100%;

  padding-top: 15px;

  font-size: 30px;
  font-family: Poppins;

}

.viewWork {

  float: left;
  width: 150px;
  padding-top: 50px;
  font-size: 18px;
  color: #1e0105;
  font-weight: bold;
  font-family: Poppins; 

}

.viewArrow {

  padding-left: 0px;
  font-weight: bold;
  font-size: 15px;
  text-decoration:none; 

}

.viewArrow:active, .viewArrow:hover, .viewArrow:visited {
  color: #004cff;
}





.healthColumn {

  float: left;

  width: 31%;;

  margin-left: 2%;

  min-height: 410px;

  margin-top: 30px;

  background-color: #ffffff;

}

.healthColumnFirst {

   margin-left: 0px;

   width: 34%;;

    background: none;

}

.habitatWrapp {

  margin-top: 50px;

}

.habitatColumn {

  float: left;

  width: 47%;;

  min-height: 350px;

  background-color: #ffffff;

}

.habitatColumnLast {

   margin-left: 6%;

  background: none;

}

.topFooter {

  float: left;

  width: 100%;

  margin-top: 200px;

  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
  font-family:Poppins; 
  background-color: rgb(0, 154, 244);
  padding-top: 60px;
  padding-bottom: 60px;

}
